<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ base :: common_header(~{::title},~{}) }">
    <title th:text="#{hl7.generate.file}"></title>
</head>

<body>
    <form action="#" th:action="@{/hl7}" th:object="${hl7FileForm}" method="post">

        <label for="province" th:text="#{hl7.province}"></label>
        <select th:field="*{province}">
            <option th:each="p : ${allProvinces}"
                    th:value="${p.uuid}"
                    th:text="${p.name}"></option>
        </select>

        <label for="district" th:text="#{hl7.district}"></label>
        <select th:field="*{district}">
            <option th:each="d : *{province.childLocations}"
                    th:value="${d.uuid}"
                    th:text="${d.name}"></option>
        </select>



        <label th:text="#{hl7.healthFacilities}"></label>
        <ul>
            <li th:each="hf : *{district.childLocations}">
              <input type="checkbox" th:field="*{healthFacilities}" th:value="${hf.uuid}" />
              <label th:for="${#ids.prev('healthFacilities')}"
                     th:text="${hf.name}"></label>
            </li>
        </ul>
        <span th:if="${#fields.hasErrors('healthFacilities')}" th:errors="*{healthFacilities}"></span>

        <button type="sumit" th:text="#{hl7.submit}"></button>

    </form>

    <script th:inline="javascript">
        const provinceSelect = document.getElementById("province");
        const districtSelect = document.getElementById("district");

        function changeProvince() {
            const provinceOption = provinceSelect.selectedOptions[0];
            location.search = `province=${provinceOption.value}`;
        }

        function changeDistrict() {
            const provinceOption = provinceSelect.selectedOptions[0];
            const districtOption = districtSelect.selectedOptions[0];
            location.search = `province=${provinceOption.value}&district=${districtOption.value}`;
        }

        provinceSelect.addEventListener("change", changeProvince, false);
        districtSelect.addEventListener("change", changeDistrict, false);
    </script>
</body>

</html>