<!DOCTYPE HTML>
<html>
<head th:replace="~{base :: common_header(~{:: title},~{}) }">
    <title th:text="#{hl7.index.title}"></title>
</head>
<body th:replace="~{base :: common_body(~{:: .content}, ~{:: script})}">

  <div class="content">

    <!--/* Confirm removal modal */-->

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel" th:text="#{hl7.modal.delete}"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    th:text="#{hl7.modal.close}"></button>
            <form th:method="DELETE">
              <button type="submit" class="btn btn-danger"
                      th:text="#{hl7.files.delete}"></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--/* No content message */-->

    <div th:if="${#lists.isEmpty(hl7FileList)}" class="text-center">
      <p th:text="#{hl7.files.empty}" class="fw-light"></p>
      <a class="btn btn-primary" th:href="@{/hl7/new}" th:text="#{hl7.nav.generate}"></a>
    </div>

    <div class="list-group">
      <div th:each="hl7 : ${hl7FileList}" class="list-group-item list-group-item-action gap-3 py-3" aria-current="true">

        <div class="d-flex gap-2 w-100 justify-content-between">

            <h6 class="mb-0" th:text="${hl7.fileName}"></h6>

            <!--/* Download and Delete buttons */-->

            <div class="btn-group">
              <a th:if="${hl7.isDone()}"
                 th:href="@{'/hl7/' + ${hl7.fileName}}"
                 class="btn btn-light"
                 th:alt=#{hl7.files.download}
                 th:title=#{hl7.files.download}>
                <i class="bi bi-download"></i>
              </a>
              <a th:if="${hl7.isProcessing() || hl7.isFailed()}"
                 href="#"
                 class="btn btn-light disabled"
                 th:alt=#{hl7.files.download}
                 th:title=#{hl7.files.download}>
                <i class="bi bi-download"></i>
              </a>
              <a th:if="${hl7.isDone() || hl7.isFailed()}"
                 href="#"
                 class="btn btn-light"
                 th:alt="#{hl7.files.delete}"
                 th:title="#{hl7.files.delete}"
                 data-bs-toggle="modal"
                 data-bs-target="#deleteModal"
                 th:data-bs-filename="${hl7.fileName}">
                <i class="bi bi-trash3"></i>
              </a>
              <a th:if="${hl7.isProcessing()}"
                 href="#"
                 class="btn btn-light disabled"
                 th:alt="#{hl7.files.delete}"
                 th:title="#{hl7.files.delete}"
                 th:data-bs-filename="${hl7.fileName}">
                <i class="bi bi-trash3"></i>
              </a>
            </div>

        </div>

        <!--/* Processing or last modified time (Status) */-->

        <small th:if="${hl7.isProcessing()}"  class="opacity-75 text-nowrap text-warning" data-processing>
          <span class="spinner-grow spinner-grow-sm" role="status"></span> <span th:text="#{hl7.files.processing}">A Processar...</span>
        </small>
        <small th:if="${hl7.isDone()}" class="opacity-75 text-nowrap text-success">
          <i class='bi bi-check'></i> <span th:text="${#temporals.format(hl7.lastModifiedTime)}"></span>
        </small>
        <small th:if="${hl7.isFailed()}" class="opacity-75 text-nowrap text-danger">
          <i class="bi bi-exclamation-triangle"></i> <span th:text="#{hl7.files.processing.error}"></span>
        </small>
      </div>
    </div>

  </div>

  <script th:inline="javascript">
    const deleteModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      const button = event.relatedTarget
      // Extract info from data-bs-* attributes
      const filename = button.getAttribute('data-bs-filename');
      // Update the modal's content.
      const modalTitle = deleteModal.querySelector('.modal-title');
      const form = deleteModal.querySelector('form');

      modalTitle.textContent = `[(#{hl7.modal.delete.javascript})]`;
      form.action = `[(@{/hl7/${filename}})]`;
    });

    // Not ideal, but for now reload the page every 5s to get the
    // latest hl7 status.
    const processingFiles = document.querySelectorAll("[data-processing]");
    if (processingFiles.length) {
      setTimeout(function(){
        location.reload();
      }, 5000);
    }

  </script>

</body>
</html>
