<!DOCTYPE HTML>
<html>
<head th:replace="~{base :: common_header(~{:: title},~{}) }">
    <title th:text="#{hl7.index.title}"></title>
</head>
<body th:replace="~{base :: common_body(~{:: .content}, ~{})}">

  <div class="content">

    <div class="list-group">
      <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <a href="#" title="download">
          <img src="webjars/bootstrap-icons/1.10.3/icons/download.svg" alt="download" width="32" height="32">
        </a>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Alto Molocue</h6>
            <p class="mb-0 opacity-75">CS Bonifácio Gruveta, CS Malua, CS Moiua, CS Mugema, CS Mutala</p>
          </div>
          <small class="opacity-50 text-nowrap">21 de Fevereiro 17h</small>
        </div>
      </div>
      <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <a href="#" title="download">
          <img src="webjars/bootstrap-icons/1.10.3/icons/download.svg" alt="download" width="32" height="32">
        </a>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Gile</h6>
            <p class="mb-0 opacity-75">CS Alto Ligonha, CS Intxotxa, CS Mamala, CS Muiane, CS Namuaca</p>
          </div>
          <small class="opacity-50 text-nowrap">14 de Fevereiro 19h</small>
        </div>
      </div>
      <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <a href="#" title="download">
          <img src="webjars/bootstrap-icons/1.10.3/icons/download.svg" alt="download" width="32" height="32">
        </a>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Maganja da Costa</h6>
            <p class="mb-0 opacity-75">CS Alto Mutola, CS Cariua, CS Mapira, CS Mapira, CS Muloua, CS Namurrumo, CS Nante</p>
          </div>
          <small class="opacity-50 text-nowrap">14 de Fevereiro 18h</small>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
